@font-face {
	font-family: 'Teachers';
	src: url('../../dashboard/fonts/static/Teachers-Regular.ttf') format("truetype"),
		 local('Teachers');

}

:root {
	--teacher: 'Teachers', sans-serif;
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;


	--dark: #222;
	--light: #f9f9f9;
	--grey: #eee;
	--dark-grey: #8f8f8f;
	--light-grey: #cfcfcf;
	--blue: #156ffe;
	--dark-blue: #0d0c1f;
    --light-blue:  #0bcfe9;
    --light-green: #0afa8a;
    --greyblue: #9eb3c4;
    --linkc: #3e103e;

}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
	overflow-x: hidden;
    user-select: none;
}



body {
	overflow: hidden;
	font-family: var(--teacher);
    background: var(--greyblue);
}


.login-class {
    width: 400px;
    text-align: center;
    position: absolute;
    top: 40px;
    left: calc((50% - 200px));
    color: var(--blue);
}


.box {
    background: var(--light);
    border: 1px solid var(--dark-grey);
    margin-bottom: 5px;
    border-radius: 10px;
}

.brand-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.brand-box img {
    margin-right: 5px;
}

.box h1 {
    font-weight: 600;
    text-shadow: 0 0 3px var(--dark-blue);
    margin-top: 15px;
}

.box input[type = "username"],.box input[type = "password"] {
    border: none;
    font-size: 1em;
    font-weight: 700;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid var(--blue);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: var(--dark);
    border-radius: 15px;
    transition: 0.25s;
}

.box input[type = "username"]:focus,.box input[type = "password"]:focus {
    width: 280px;
    border-color: var(--light-blue);
}

.box input[type = "submit"] {
    border: none;
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    border: 1px solid var(--blue);
    padding: 10px 0;
    width: 130px;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    outline: none;
    color: var(--dark);
    /* background: var(--dark-grey); */
    background-color:#0e6187ce;
    background-color: teal;
    margin: auto;
    text-shadow: 0 0 2px var(--greyblue);
}

.forgt-pwd {
    font-weight: 600;
    margin: 25px auto;
    border-top: 1px solid var(--light-grey);
    padding-top: 35px ;
    width: 220px;
    color: var(--dark-blue);
}
