<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
	<link rel="shortcut icon" href="{% static 'store/images/favicon.ico' %}">
	{% if title %}
	<title>Store | {{title}}</title>
	{% else %}
	<title>Store</title>
	{% endif %}
</head>
<body>

	

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'store' %}">
				<img src="{% static 'store/images/blog-icon.png'%}" alt="" width="30px">
				Store</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{% url 'store' %}">Home</a>
					</li>
					<li class="nav-item" hidden>
						<a class="nav-link" href="#">link</a>
					</li>
					<li class="nav-item" hidden>
						<a class="nav-link" href="#">link</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="btn btn-warning" href="#">Login</a></li>
					<li class="nav-item"><a class="nav-link cart-icon" href="{% url 'cart' %}">
						<i class="fas fa-shopping-cart"></i>
					</a></li>
				</ul>
				
			</div>
		</div>
	</nav>



	<div class="container">
		{% block content %}

		{% endblock content %}
	</div>



	<script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'store/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'store/js/popper.min.js' %}"></script>
	<script src="{% static 'store/js/fontawesome-all.min.js' %}"></script>
</body>
</html>