<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'store/css/store.css' %}">
	{% if title %}
	<title>Store | {{title}}</title>
	{% else %}
	<title>Store</title>
	{% endif %}
</head>
<body>

	<header>

		<nav class="my-navbar">
			<div class="navbar-content">
				<a class="navbar-brand" href="{% url 'store' %}">
					<img src="{% static 'store/images/blog-icon.png'%}" alt="" width="30px">
					Store</a>
				<div class="d-flex align-items-center justify-content-between w-100">
					<ul class="d-flex justify-content-center mb-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{% url 'store' %}">Home</a>
						</li>
						<li class="nav-item" hidden>
							<a class="nav-link" href="#">link</a>
						</li>
						<li class="nav-item" hidden>
							<a class="nav-link" href="#">link</a>
						</li>
						<form method="post" id="search-bar-input">
							{% csrf_token %}
							<input type="search" name="search" class="search-bar">
						</form>
						<button class="btn btn-warning search-btn " id="search-bar-btn">
							<i class="text-dark  fas fa-search"></i>
						</button>
					</ul>
					<ul class="d-flex justify-content-center mb-0">
						{% if user.is_authenticated %}
						<li class="nav-item"><a class="btn btn-warning" id="logout-id">Logout</a></li>
						{% else %}
						<li class="nav-item"><a class="btn btn-warning" href="#">Login</a></li>
						{% endif %}
						<li class="nav-item"><a class="nav-link cart-icon" href="{% url 'cart' %}">
							<i class="fas fa-shopping-cart"></i>
						</a></li>
						<span id="cartitems-num">
							{% if items > 99 %}
							99+
							{% else %}
							{{items}}
							{% endif %}
						</span>
					</ul>
					
				</div>
			</div>
		</nav>
	</header>



	<div class="my-container">
		{% block content %}

		{% endblock content %}
	</div>




	<script>
		var user = '{{request.user}}';

		var logouthref = "{% url 'log_out' %}";
	</script>
	<script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'store/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'store/js/popper.min.js' %}"></script>
	<script src="{% static 'store/js/fontawesome-all.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'store/js/store.js' %}"></script>
	<script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>
</body>
</html>