<!DOCTYPE html>
{% extends 'store/base.html' %}

{% block content %}
{% load static %}

<div class="row">
	<div class="col-lg-12 mt-4">

		<div class="card">

			<!-- <h1>card</h1> -->
			<div class="m-2 border-bottom pb-3">
				<a class="btn btn-secondary" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
			</div>
			
			<div class="d-flex justify-content-between align-items-center m-3">
				<div>
					<h5 class="m-auto">Items: <strong>{{items}}</strong></h5>
				</div>
				<div>
					<h5 class="m-auto">Total: <strong>{{total|floatformat:2}}$</strong></h5>
				</div>
				<div>
					<a class="btn btn-success float-end" href="{% url 'checkout' %}">Checkout</a>
				</div>
			</div>
		</div>
		<br>
		<div class="card">
			
			<div class="d-flex align-items-stretch text-center p-2 m-1">
				<div style="flex: 2;"></div>
				<div style="flex: 2;"><strong>Item</strong></div>
				<div style="flex: 1;"><strong>Prix</strong></div>
				<div style="flex: 1;"><strong>Quantity</strong></div>
				<div style="flex: 1;"><strong>Total</strong></div>
			</div>


			{% for orderitem in orderitems %}
			
			<div class="d-flex align-items-stretch text-center p-2 m-1">
				<div style="flex: 2;" class="product-img">
					<div class="orderitem-bar"></div>
					<img class="w-100" src="{{orderitem.product.imageURL}}" alt="">
				</div>
				<div class="d-flex-center-center " style="flex: 2;">{{orderitem.product}}</div>
				<div class="d-flex-center-center " style="flex: 1;">{{orderitem.product.price|floatformat:2}}$</div>
				<div class="d-flex-center-center" style="flex: 1;">
					<span class="p-2 orderitem-quantity" >{{orderitem.quantity}}</span>
					<div class="d-grid">
						<a class="arrow-up-quantity"><i class="fas fa-arrow-up"></i></a>
						<a class="arrow-down-quantity"><i class="fas fa-arrow-down"></i></a>
					</div>
				</div>
				<div class="d-flex-center-center " style="flex: 1;">{{orderitem.total_cost|floatformat:2}}$</div>
			</div>
			
			{% endfor %}
			


		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'store/js/cart.js' %}"></script>

{% endblock content %}