<!DOCTYPE html>
{% extends 'store/base.html' %}

{% block content %}
{% load static %}

<div class="row">
	<div class="col-md-7">
		<div class="card-group mt-3" id="shipping-form-info">
			<div class="card mt-2">
				<form class="m-1 mb-2" id="shipping-form">
					{% csrf_token %}
					{% if not user.is_authenticated %}
					<div class="row m-1 mt-3 mb-2 pb-3 border-bottom">
						<div class="col-md-5">
							<input type="name" class="form-control" placeholder="Name">
						</div>
						
						<div class="col-md-7">
							<input type="email" class="form-control" placeholder="Email">
						</div>
					</div>
					{% endif %}
					
					<div class="row m-1 mb-2 mt-0" id="shipping-info">
						<h3 class="border-bottom p-3 pt-2" >Shipping Information</h3>
						<div class="col-md-6 mt-2">
							<input type="text" class="form-control" placeholder="City">
						</div>
						
						<div class="col-md-6 mt-2">
							<input type="text" class="form-control" placeholder="State">
						</div>
						
						<div class="col-md-6 mt-3">
							<input type="text" class="form-control" placeholder="Phone Number">
						</div>
						
						<div class="col-md-6 mt-3">
							<input type="text" class="form-control" placeholder="Zip">
						</div>
	
						<div class="col-12 mt-3">
							<input type="text" class="form-control" placeholder="Address">
						</div>
						
					</div>
					<div class="col-12 mt-3" >
						<input type="submit" value="Continue" class="btn btn-success col-12" id="submit-form">
					</div>

				  </form>
			</div>
		</div>
		<div class="card-group mt-3 d-none" id="payment-methods">
			<div class="card mt-2">
				<h3 class="border-bottom m-2 pb-2 text-center"><strong>Payment methods</strong></h3>
				<div class="col-12 p-3">
					<a class="btn btn-primary col-12 mb-1">Pypal</a>
					<a class="btn btn-primary col-12 mb-1">Pypal</a>
					<a class="btn btn-primary col-12 mb-1">Pypal</a>
					<a class="btn btn-primary col-12 mb-1">Pypal</a>
					<a class="btn btn-primary col-12 mb-1">Pypal</a>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="card-group mt-3">
			<div class="card mt-2">
				<div class="m-2 border-bottom pb-3">
					<a class="btn btn-secondary" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				</div>
				<h3 class="border-bottom m-2 pb-2 text-center"><strong>Order Summary</strong></h3>
				<div>
					{% for item in orderitems %}
					
					<div class="d-flex align-items-stretch text-center p-2 m-1">
						<div style="flex: 2;" class="summary-img">
							<img class="w-100" src="{{item.product.imageURL}}" alt="">
						</div>
						<div class="d-flex-center-center " style="flex: 2;">{{item.product}}</div>
						<div class="d-flex-center-center " style="flex: 1;">{{item.product.price}}</div>
						<div class="d-flex-center-center" style="flex: 1;">
							<span class="p-2">x{{item.quantity}}</span>
						</div>
					</div>

					{% endfor %}
				</div>
				<div class="m-1 p-3 pt-2 pb-2">
					<h4>Items: <span>{{items}}</span></h4>
					<h4>Total: <span>{{total|floatformat:2}}$</span></h4>
				</div>
			</div>
		</div>
	</div>
	
</div>


<script>
	var user = '{{request.user}}';
	var shipping = '{{order.shipping}}';
	if (shipping == 'False')
	{
		document.getElementById('shipping-info').style.display = 'none';
		if (user != 'AnonymousUser')
		{
			console.log('display payment')
			document.getElementById('shipping-form-info').classList.add('d-none');
			document.getElementById('payment-methods').classList.remove('d-none');
		}
	}

	var sh_form = document.getElementById('shipping-form');

	sh_form.addEventListener('submit', (e)=>{
		e.preventDefault();
		// document.getElementById('submit-form').style.visibility = 'disabled';
		document.getElementById('submit-form').classList.add('disabled');
		document.getElementById('payment-methods').classList.remove('d-none');
	});
</script>

{% endblock content %}