<!DOCTYPE html>
{% extends 'store/base.html' %}

{% block content %}
{% load static %}

<div class="row">
	<div class="col-md-7">
		<div class="card-group mt-3">
			<div class="card mt-2">
				{% csrf_token %}
				<form class="row m-1 mt-3 mb-2">
					
					<div class="col-md-5">
					  <input type="name" class="form-control" placeholder="Name">
					</div>
					
					<div class="col-md-7">
					  <input type="email" class="form-control" placeholder="Email">
					</div>
					<h3 class="border-top border-bottom p-3 mt-2" >Shipping Information</h3>

					<div class="col-md-6 mt-2">
						<input type="text" class="form-control" placeholder="City">
					</div>
					
					<div class="col-md-6 mt-2">
						<input type="text" class="form-control" placeholder="State">
					</div>
					
					<div class="col-md-6 mt-3">
						<input type="text" class="form-control" placeholder="Phone Number">
					</div>
					
					<div class="col-md-6 mt-3">
						<input type="text" class="form-control" placeholder="Zip">
					</div>

					<div class="col-12 mt-3">
						<input type="text" class="form-control" placeholder="Address">
					</div>
					
					<div class="col-12 mt-3">
						<a class="btn btn-success col-12"  href="#">Continue</a>
					</div>

				  </form>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="card-group mt-3">
			<div class="card mt-2">
				<div class="m-2 border-bottom pb-3">
					<a class="btn btn-secondary" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				</div>
				<h3 class="border-bottom m-2 pb-2 text-center"><strong>Order Summary</strong></h3>
				<div>
					<div class="d-flex align-items-stretch text-center p-2 m-1">
						<div style="flex: 2;">
							<img class="img-thumbnail" src="{% static 'store/images/product.png' %}" alt="">
						</div>
						<div class="d-flex-center-center " style="flex: 2;">Product 1</div>
						<div class="d-flex-center-center " style="flex: 1;">20</div>
						<div class="d-flex-center-center" style="flex: 1;">
							<span class="p-2">x2</span>
						</div>
					</div>
				</div>
				<div class="m-1 p-3 pt-2 pb-2">
					<h4>Items: <span>1</span></h4>
					<h4>Total: <span>40$</span></h4>
				</div>
			</div>
		</div>
	</div>
	
</div>

{% endblock content %}