<!DOCTYPE html>
{% extends 'store/base.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
	<div class="row">
		{% for product in products %}
		
		<div class="col-md-4">
			<div class="card-group mt-3">
				<div class="card">
					<img class="img-thumbnail user-select-none" src="{% static 'store/images/product.png' %}" alt="">
					<h3 class="card-title p-2 mb-0">{{product.name}}</h3>
					<div class="border-top p-2 pt-3 user-select-none">
						<a class="btn btn-outline-success" href="#">Add to cart</a>
						<a class="btn btn-outline-secondary"  href="{% url 'checkout' %}">View</a>
						<div class="d-inline-block float-end prix-block">
							<h6 class="d-inline-block text-danger me-1 mb-0">30$</h6>
							<h3 class="d-inline-block float-end mb-0">{{product.prix}}$</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% endfor %}
		<!-- <div class="col-md-4">
			<div class="card-group mt-3">
				<div class="card">
					<img class="img-thumbnail user-select-none" src="{% static 'store/images/product.png' %}" alt="">
					<h3 class="card-title p-2 mb-0">Product</h3>
					<div class="border-top p-2 pt-3 user-select-none">
						<a class="btn btn-outline-success" href="#">Add to cart</a>
						<a class="btn btn-outline-secondary"  href="{% url 'checkout' %}">View</a>
						<div class="d-inline-block float-end prix-block">
							<h6 class="d-inline-block text-danger me-1 mb-0">30$</h6>
							<h3 class="d-inline-block float-end mb-0">20$</h3>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- <div class="col-md-4">
			<div class="card-group mt-3">
				<div class="card">
					<img class="img-thumbnail user-select-none" src="{% static 'store/images/product.png' %}" alt="">
					<h3 class="card-title p-2 mb-0">Product</h3>
					<div class="border-top p-2 pt-3 user-select-none">
						<a class="btn btn-outline-success" href="#">Add to cart</a>
						<a class="btn btn-outline-secondary"  href="{% url 'checkout' %}">View</a>
						<div class="d-inline-block float-end prix-block">
							<h6 class="d-inline-block text-danger me-1 mb-0">30$</h6>
							<h3 class="d-inline-block float-end mb-0">20$</h3>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>

{% endblock content %}