@font-face {
	font-family: 'Teachers';
	src: url('../fonts/static/Teachers-Regular.ttf') format("truetype"),
		 local('Teachers');

}

:root {
	--teacher: 'Teachers', sans-serif;
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;


	--dark: #222;
	--light: #f9f9f9;
	--grey: #eee;
	--dark-grey: #8f8f8f;
	--light-grey: #cfcfcf;
	--blue: #156ffe;
	--dark-blue: #0d0c1f;
	--light-blue:  #0bcfe9;
	--light-green: #0afa8a;
	--greyblue: #9eb3c4;
	--linkc: #3e103e;
	--s-blue: #5ebcc6;
	--bluegreen: #29899d;
	--navback: #51afb5;


	--nb-padd: 5px;
	--nb-marg: 10px;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	/* color: var(--linkc); */
	font-weight: inherit !important;
	color: inherit;
}

li {
	list-style: none;
	margin: auto;
	padding: 4px;
}


html {
	overflow-x: hidden;
}



body {
	background: var(--light-grey);
	overflow-x: hidden;
	font-family: var(--teacher);
}

body.darkmode {
	--light: #232433;
	--light-grey: #11102a;
	--dark: #ddd;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
	min-width: 100%;
	background: white;
}

.my-container {
	width: 100%;
	border: solid;
	padding: 0 7vw;
	margin: 0 auto;
	margin-top: 56px;
	max-width: 1400px;
}


.my-navbar {
	background: var(--navback);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	border-bottom: 1px solid var(--dark-grey);
}

.my-navbar .navbar-content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 15px;
	width: 100vw;
	max-width: 1400px;
	margin: auto;
}

.bg-body-tertiary {
	/* background: var(--bluegreen) !important; */
}

.cart-icon {
	padding: 0;
	margin: auto 1em;
}

.cart-icon .svg-inline--fa {
	height: 1.5em;
	color: #ffc107;
}
.cart-icon .svg-inline--fa:hover {
	color: #ffca2c;
}


#cartitems-num {
	width: 20px;
	height: 20px;
	color: var(--light);
	background: red;
	font-size: smaller;
	text-align: center;
	border-radius: 50%;
	margin-left: -20px;
}

.my-navbar .navbar-content  .search-bar {
	border: none;
    outline: none;
    background: var(--light-grey);
    color: teal;
    border-radius: 15px 0 0 15px;
    padding: 0 15px;
    height: 35px;
    width: 250px;
	margin: auto;
	margin-left: 3vw;
	border: 1px solid black;
	border-right: none;
}

.my-navbar .navbar-content .search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: wra;
	border: none;
	width: 30px;
	height: 35px;
	border-radius: 0 15px 15px 0;
	margin: auto;
	border: 1px solid black;
	border-left: none;
	border-left:1px solid var(--bluegreen);
}


.logoutwin {
	/* position: absolute;
	display: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:100dvh;
	background: blue;
	z-index: 9999; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	color: wheat;
	
}

.modal {
	/* position: absolute; */
	display: block;
	text-align: center;
	background: var(--light-grey);
	color: var(--dark);
	/* width: 40%; */
	height: 200px;
	height: auto;
	width: auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	top: 5%;
	left: 50%;
	font-size: 3vw;
	margin-right: 5px;
}

.modal h1 {
	font-weight: 900;
	color: var(--blue);
}

.modal p {
	color: orangered;
	border: 1px dashed;
	margin-left: 1vw;
	margin-right: 1vw;
	border-radius: 5px;
	background: #ffa60086;

}

.modal a {
	font-weight: 600;
	background: #ff44009e;
	border-radius: 5px;
	padding: 0 1vw;
	border: 1px solid #ff44009e;
	color: black;
}



.d-flex-center-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.items-column {
	width: 31.33%;
	/* height: 20vw; */
	margin: 1%;
	max-width: 390px;
	padding: 0;
}

.items-column .card img {
	/* height: 15.65vw; */
	height: 18.182vw;
	border-radius: 4px;
	padding: 2px;
}



.fn-z {
	font-size: 1.5vw;
}
.fn-z-t {
	font-size: 2vw;
}

@media (min-width: 1400px) {
	.my-container {
		padding: 0 98px;
	}
	.items-column .card img {
		height: 254.55px;
	}
	.fn-z {
		font-size: 21px;
	}
	.fn-z-t {
		font-size: 28px;
	}
}

@media (max-width: 499px) {
	.items-column {
		width: 100%;
		/* height: 15vw; */
	}
}

@media (min-width: 500px) {
	.items-column {
		width: 46%;
		/* height: 15vw; */
		margin: 2%;
	}
}

@media (min-width: 700px) {
	.items-column {
		width: 31.33%;
		/* height: 20vw; */
		margin: 1%;
		max-width: 390px;
		padding: 0;
	}
}


.product-img {
	display: flex;
	justify-content: space-between;
	min-width: 28.57%;
	height: 13.369vw;
	max-height: 187.16px;
}

.product-img img {
	width: 75.7% !important;
	height: 13.369vw;
	max-height: 187.16px;
	padding: 3px;
	border: 1px solid var(--light-grey);
	border-radius: 6px;
	background: var(--light);
}




.summary-img {
	height: 6.06vw;
	max-height: 82.75px;
}

.summary-img img {
	min-width: 30%;
	height: 6.06vw;
	max-height: 82.75px;
	padding: 2px;
	border: 1px solid var(--light-grey);
	border-radius: 5px;
	background: var(--light);
}

@media (max-width: 767px) {
	.summary-img {
		min-width: 33.33%;
		height: 15.342vw;
		max-height: 117.675px;

	}
	
	.summary-img img {
		min-width: 33.33%;
		height: 15.342vw;
		max-height: 117.675px;
	}
}


.orderitem-bar {
	width: 7%;
	height: 100%;
	background: linear-gradient(to right,#11102a,#0bcfe9,#11102a);
	border-radius: 10px;
	/* border-bottom-right-radius: 10px; */
}
.orderitem-bar::before {
	content: '';
	position: absolute;
	width: 1.75%;
	height: 1.4vw;
	border-radius: 50%;
	left: 13px;
	border: solid;
	background: var(--dark-blue);
}


.product-imgs .img-window {
	width: 100%;
	height: 30vw;
	background-size: cover;
	overflow: hidden;
	border-radius: 5px;
}

.product-imgs .img-window img {
	width: 100%;
	height: 30vw;
	background-size: cover;
	border-radius: 5px;
	overflow: hidden;
}

.product-imgs .silder-imgs {
	display: flex;
	height: 80px;
	justify-content: center;
	overflow: hidden;
}
.product-imgs .silder-imgs .silder {
	padding: 5px;
	display: flex;
	transition: transform 0.3s ease-in-out;
	width: 100%;
	margin-left: 38px;
}
.product-imgs .silder-imgs .silder img {
	width: 70px;
	height: 70px;
	margin: 0 6px;
	border-radius: 5px;
}

.silder-imgs .silder-prev, .silder-imgs .silder-next {
	position: absolute;
	width: 27px;
	height: inherit;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	font-weight: 900;
	cursor: pointer;
	user-select: none;
	/* border: 1px solid black; */
}
.silder-imgs .silder-prev {
	left: 0;
	background: linear-gradient(-90deg, #ffffff67, white, white);
	box-shadow: 5px 0px 5px #ffffff67;
}

.silder-imgs .silder-next {
	right: 0;
	background: linear-gradient(90deg, #ffffff67, white, white);
	box-shadow: -5px 0px 5px #ffffff67;
}

.silder-disable {
	cursor: not-allowed !important;
	color: transparent !important;
}

.product-view .product {
	width: 500px !important;
}

.product-details {
	width: calc(100% - 500px);
}

/* @media (min-width: 150px) {
	.product-img {
		width: calc(100vw - 67px);
		height: 46.2vw;
		background: red;
	}
} */
/* .card h3, .card a{
	font-size: 1.5vw !important;
} */

/* .arrow-up-icon {
	width: 25px;
	height: 50px;
	background: #0d0c1f;
	position: absolute;
	rotate: -90deg;
	margin-bottom: 10px;
}

.arrow-up-icon::after {
	content: '';
	width: 20px;
	height: 45px;
	background: green;
	position: absolute;
	rotate: -45deg;
	margin-left: -3px;
	top: -16px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.arrow-up-icon::before {
	content: '';
	width: 20px;
	height: 45px;
	background: red;
	position: absolute;
	rotate: 45deg;
	margin-left: -3px;
	top: 22px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
} */


/* .main-navbar {
	background: var(--s-blue);
	height: 50px;
	border-bottom: 1px solid var(--dark-grey);
	position: relative;
}

.nav-bar-style {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

}

.nb-item-s {
	padding: var(--nb-padd);
	margin: var(--nb-marg);
	color: var(--dark);
}

.nb-link-s {
	color: var(--dark);
}

.nb-r-side {

} */


/* START CARD */

.

/* .prix-block h6::after {
	content: '';
	position: absolute;
	width: 35px;
	height: 1px;
	background-color: #8d0707;
	rotate: -15deg;
	right: 5vw;
	bottom: 5.7vh;
} */

/* END CARD */
