<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
	<link rel="shortcut icon" href="{% static 'dashboard/images/favicon.ico' %}">
	{% if title %}
	<title>Dashboard | {{title}}</title>
	{% else %}
	<title>Dashboard</title>
	{% endif %}
</head>
<body>
	

	<div class="base-container">

		
		<section class="main-sidebar">
			
			<div id="side-bar">
				<div >
					<a class="brand" href="#">
						<img src="{% static 'dashboard/images/blog-icon.png' %}" alt="#" width="30px">
						<span>Brand</span>
					</a>
				</div>
				<div class="first-menu">
					<ul>
						<li class="active"><a href="#">Dashboard</a></li>
						<li class=""><a href="#">My Store</a></li>
						<li class=""><a href="#">Analytics</a></li>
						<li class=""><a href="#">Orders</a></li>
						<li class=""><a href="#">Team</a></li>
					</ul>
					<div class="pt-3 second-menu">
						<ul>
							<li class=""><a href="#">Settings</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>


		<section class="content">
			<div class="">
				<div class="top-redius"></div>
				<nav class="navbar-section d-flex align-items-center">
					<div class="d-flex align-items-center">
						<form action="#">
							<div class="search-bar-c">
								<input type="search" name="Search" placeholder="Search..." id="">
								<button type="submit" class="search-btn">
									<i>
										<img src="{% static 'dashboard/images/search_cr23.svg' %}" alt="#" width="25px">
									</i>
								</button>
							</div>
						</form>
					</div>
					<div class="right-navbar d-flex align-items-center">
						<input type="checkbox" id="switch-mode" hidden>
						<label for="switch-mode" class="switch-button">
							<small id="mode-message">Light</small>
						</label>
						<div>
							<a href="#">
								<img src="" alt="">
							</a>
						</div>
						<div >
							<img src="" alt="Profile" width="30px">
						</div>
					</div>
				</nav>
				<div class="window-p">
					<div>
						{% block content %}

						{% endblock content %}
					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="{% static 'dashboard/js/base.js' %}"></script>
</body>
</html>